.signup-login-btn {
    /* display: none; */
    /* height: 50px; */
}

.navbar {
    /* background: url(https://theme.zdassets.com/theme_assets/33710/aa8385e43b1db7d88a0f43b3ac30eb6f684c7326.png);
    background-repeat: no-repeat; */
    width: auto;
    height: 50px;
    background-color: indianred;
}

.hamburger-icon {
  position: relative;
  padding-left: 50px;
}
/* .hamburger-icon:before {
  content: "";
  position: absolute;
  left: 18px;
  top: 18px;
  bottom: 18px;
  width: 18px;
  height: 0.10em;
  background: #bababa;
  box-shadow: 
    0 0.7em 0 0 #bababa,
    0 0.7em 0 0 #bababa;
} */

.hamburger-icon:before {
  content: "";
  position: absolute;
  left: 18px;
  top: 0em;
  bottom: 0em;
  width: 1.5em;
  background: linear-gradient(
    to bottom, 
    #bababa, #bababa 10%, 
    transparent 20%, transparent 40%, 
    #bababa 40%, #bababa 60%, 
    transparent 60%, transparent 80%, 
    #bababa 80%, #bababa 100%
  );
}

.yummly-icon {
    height: 50px;
}

.search-icon {
    height: 40px
}

.demo-login {
    position: absolute;
    height: 500px;
    background-color: #3a9691;
}