.signup-login-sidebar, .logout-sidebar {
    /* position: fixed; */
    width: 200px;
    height: 1000px;
    background-color: #f6f6f6;
    padding: 35px 35px;
}

.signup-login-btn {
    background-color: #3a9691;
    color: #ffffff;
    line-height: 40px;
    letter-spacing: 0;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 3em;
    box-sizing: border-box;
    /* position: relative; */
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease;
    font-family: europa-boldregular, sans-serif;
    font-weight: 500;
    width: 135px;
    margin-top: 130px;
    text-decoration: none;
}
