.search-form-container-container {
    position: fixed;
    display: flex;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.search-form-close-button > div {
    position: fixed;
    z-index: 16;
    width: 100%;
    text-align: right;
    margin-right: 40px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    top: 23px;
    right: 0.01em;
}

.search-form-close-button-label {
    text-decoration: none;
    color: #bababa;
    font-size: 15px;
    font-family: europa-boldregular, sans-serif;
    font-weight: lighter;
}

.search-form-container {
    position: fixed;
    display: flex;
    background: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: left;
    margin-bottom: 200px;
    font-family: europa-boldregular, sans-serif;
    padding: 50px 100px 0 30px;
}

.search-bar-container {
    display: flex;
    vertical-align: middle;
    border-bottom: 2px solid #e3e3e3;
    margin-right: 60px;
}

.search-bar-icon-container {
    position: fixed;
    top: 52px;
}

.search-bar-icon-container > i {
    color: #4a4a4a;
}

.search-bar-input-container {
    width: 100%;
}

.search-bar-input {
    outline: 0;
    padding: 0 40px 12px 30px;
    border: 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #4a4a4a;
    font-family: europa-boldregular, sans-serif;
    width: 100%;
}

.search-bar-input::placeholder { 
    color: #bababa; 
    font-size: 20px;
}

.recent-searches-container {
    padding-top: 30px;
    font-size: 13px;
}

.recent-searches-label {
    color: #bababa;
    white-space: nowrap;
    display: block;
    font-family: europa-boldregular, sans-serif;
    font-weight: 700;
}

.recent-searches-list {
    padding-top: 15px;
    font-family: europa-boldregular, sans-serif;
    color: #4a4a4a;
}

.recent-searches-list:hover {
    color: #3a9691;
    cursor: pointer;
}